body {
  margin: 3rem 0;
}

.site-header {
  margin-bottom: 2rem;
}

.site-header a {
  color: #212529;
}

.site-header-description {
  margin-bottom: 2rem;
}

.site-nav {
  background-color: #FAF5ED;
  padding: 1rem;
}

.article {
  background-color: #ebf4f9;
  padding: 1rem;
  margin-bottom: 2rem;
}

.article .blockquote {
  padding: 0 1rem;
  border-left: 0.25rem solid #A4AAAE;
  font-size: 1rem;
}

/* Copy should not be wider than 70 characters on a screen for ease of reading. */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .copy-container.copy-container {
    max-width: 36rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .copy-container.copy-container {
    max-width: 36rem;
  }
}

.post-time-container {
  margin-bottom: 1rem;
}