html,
body {
  height: 100%;
}

/* The animation code */
@keyframes stars-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.svg-background {
  background: #141212;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.far-stars-container {
  animation-name: stars-animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.medium-stars-container {
  animation-name: stars-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.near-stars-container {
  animation-name: stars-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes name-drop-from-above {
  0% {
    top: -50vh;
  }
  100% {
    top: 0;
  }
}

.name-svg {
  position: relative;
  padding: 20vh 0 0;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  animation-name: name-drop-from-above;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 500px) {
  .name-svg {
    margin: 0 1rem;
  }
}

.name {
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  font-size: 18px;
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links {
  max-width: 500px;
  margin: 30vh auto 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  animation-name: fade-in-text;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .links {
    flex-direction: column;
    text-align: center;
  }
  .links li {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.links a {
  color: #F7DCB5;
  text-decoration: none;
}

@keyframes sheen-over-name {
  0% {
    x: -50;
  }
  100% {
    x: 100;
  }
}

.sheen-over-name {
  animation-name: sheen-over-name;
  animation-timing-function: linear;
  animation-duration: 1.75s;
  animation-delay: 1.5s;
}
